/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background-color: #FF6900;
    height: 50px;
    position: fixed; 
    width: 100%;
    z-index: 1;
    padding: 16px;
}


/* prova qui sopra */
.flex{
    display: flex;
}
.flex-center{
    justify-content: space-between;
    align-items: center;
}
.product-container {
    position: relative;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 80px;
}
.my-row {
    display: flex;
    flex-wrap: wrap;
}
.my-col-1-3 {
    width: calc(100% / 3);
}

/* header */
header nav{
    height: 100%;
}
nav ul{
    list-style: none;
}
header nav ul > li{
    display: inline;
}
nav ul > li > a{
    text-decoration: none;
    color: white;
}

img,  
header nav > a{
    height: 100%;
}
/* main */

img {
    width: 100%;
    display: block;
}
.discount{
    background-color: red;
    color: white;
    position: absolute;
    top: 80%;
}
.sustainability{
   background-color: green;
   color: white;
   position: absolute;
   left: 15%;
   top: 80%;
}
.sustainability-left{
    background-color: green;
    color: white;
    position: absolute;
    left: 5%;
    top: 80%;
}

.heart{
    background-color: white;
    height: 20px; 
    width: 20px;
    position: absolute; 
    right: 0%;
    top: 7%;
}
.bold{
    font-weight: bold;
}
.color-red{
    color: red;
    font-weight: bold;
}
.line-through{
    text-decoration: line-through;
}
/* after on top */
.img-after{
    width: 100%;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    padding-top: 60px;
    padding-bottom: 14px;
    padding-left: 20px;
}
.product-container:hover .img-after{
    display: block;
}
/* footer */
footer{
    width: 100%;
    height: 150px;
    background-color: #1A1A1A;
    color: white;
  
}
footer nav ul li {
    padding: 10px 0
    
}
nav ul h4{
    min-height: 1.5em;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 25px;
}
footer nav ul li {
    display: inline;
    padding-top: 20px;
}

ul li > * {
margin-left: 20px;
padding-left: 10px;
}

